env_pvlib_tesis
.DS_Store
.ipynb_checkpoints/
.Huerto MArio V./
.Cutonala modulo e inversor/
*.xls
*.csv
*.xlsx

# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.vscode/